# --- DATABASE ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=foodstock-user
DB_PASSWORD=foodstock-password
DB_NAME=foodstock-db
DB_SSL_MODE=prefer

DB_MAX_CONNECTIONS=30
DB_MIN_CONNECTIONS=10
DB_MAX_CONNECTION_LIFETIME=10m
DB_MAX_CONNECTION_IDLETIME=5m

# --- YOOKASSA SECRETS ---
YOOKASSA_SHOP_ID=1344511
YOOKASSA_API_KEY=test_ivvXDKubIzQ-vo5_RMv5Z9a4zSQ9BHfhr7VybxhzabE

# --- AUTH CONSTANTS ---
AUTH_SECRET=super-secret-token
AUTH_TTL=1h
ADMIN_SEEDS=maket:maket123,marat:marat123,admin:admin123

# --- PASSWORD HASHER ---
PASSWORD_COST=10

# --- QR-CODE GENERATOR ---
QR_CODE_BASE_URL=http://localhost:8080
QR_CODE_SIZE=512

# --- SERVICE DATA ---
HTTP_PORT=8080
LOG_LEVEL=INFO
ENVIRONMENT=development

# --- TEST CONFIGURATION ---
TEST_DB_HOST=localhost
TEST_DB_PORT=5433
TEST_DB_USER=test-user
TEST_DB_PASSWORD=test-pass
TEST_DB_NAME=test-db
TEST_DB_SSL_MODE=disable

TEST_DB_MAX_CONNECTIONS=30
TEST_DB_MIN_CONNECTIONS=30
TEST_DB_MAX_CONNECTION_LIFETIME=10m
TEST_DB_MAX_CONNECTION_IDLETIME=5m